<% provide(:title, 'Edit card') %>

<body>
  <section id="container">
    <div class="list-group">
      <a class="list-group-item disabled">Карточка № <%= @card.id %></a>
      <a class="list-group-item"><%= @card.original_text %></a>
      <a class="list-group-item"><%= @card.translated_text %></a>
      <a class="list-group-item"><%= @card.review_date %></a>
    </div>
    <%= simple_form_for(@card, html: { class: '.form-horizontal'}) do |f| %>

        <%= f.input :original_text, label: 'Введите слово на английском', error: 'Слово введено некоректно' %>
        <%= f.input :translated_text, label: 'Введите перевод слова', error: 'Перевод введен некоректно' %>
        <%= f.input :review_date, :as => :hidden %>
        <%= f.button :submit %>
    <% end %>
    <ul class="nav nav-tabs">
      <li><%= link_to 'Назад ко всем карточкам', cards_path %></li>
      <li><%= link_to 'Удалить карточку', card_path(@card),
                      method: :delete,
                      data: { confirm: 'Вы уверены?' } %></li>
    </ul>
  </section>
</body>