<% provide(:title, 'Show card') %>

<body>
  <section id="container">
    <header class="clearfix">
      <div class="page-header">
        <h1><%= link_to 'Флэшкарточкер', root_path %> </h1>
      </div>
      <ul class="nav nav-pills nav-justified">
        <li class="active"><%= link_to 'Все карточки', cards_path %></li>
        <li><%= link_to 'Добавить карточку', new_card_path%></li>
      </ul>
    </header>

    <div class="list-group">
      <a class="list-group-item disabled">Карточка № <%= @card.id %></a>
      <a class="list-group-item"><%= @card.original_text %></a>
      <a class="list-group-item"><%= @card.translated_text %></a>
      <a class="list-group-item"><%= @card.review_date %></a>
    </div>

    <ul class="nav nav-tabs">
      <li><%= link_to 'Редактировать карточку', edit_card_path(@card.id) %></li>
      <li><%= link_to 'Назад ко всем карточкам', cards_path %></li>
      <li><%= link_to 'Удалить карточку', card_path(@card.id),
                      method: :delete,
                      data: { confirm: 'Вы уверены?' } %></li>
    </ul>

    <ul class="pager">
      <li><a href="#">когда-нибудь можно будет выбрать предыдущую</a></li>
      <li><a href="#">Когда-нибудь можно будет выбрать следующую</a></li>
    </ul>
  <section>
</body>