<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="container">
      <header class="clearfix">
        <div class="page-header">
          <h1><%= link_to 'Флэшкарточкер', root_path %> </h1>
        </div>
        <ul class="nav nav-pills nav-justified">
          <li class="active"><%= link_to 'Все карточки', cards_path %></li>
          <li><%= link_to 'Добавить карточку', new_card_path %></li>
        </ul>
      </header>
      <%= yield %>
      <% flash.each do |name, value| %>
          <%= content_tag :div, value, class: name %>
      <% end %>
    </section>
  </body>
</html>